<% provide(:title, "Messages") %>

<% if current_user.is_an_admin? %>
  <% message_link_text = "Send Message to Employee" %>
<% else %>
  <% message_link_text = "Send Message to the Manager" %>
<% end %>

<div class="outer_wrapper">
  <div class="btn-group">
    <%= link_to message_link_text, new_message_path, class: "btn btn-success" %>
      
    <% if params[:show_sent] %>
      <%= link_to "Received Messages", messages_path,
        class: "btn btn-primary", id: "received_messages_button",
        method: :get %>
    <% else %>
      <%= link_to "Sent Messages", messages_path(show_sent: true),
        class: "btn btn-warning", id: "sent_messages_button",
        method: :get %>
    <% end %>
  </div>
  <div class="css_table">
    <div class="css_tbody">
      <%= render "messages_table" %>
    </div>
  </div>
</div>

<div class="center pagination_primary">
  <%= will_paginate messages %>
</div>
