<% provide(:title, "Messages") %>

<% if policy(message).is_an_admin? %>
  <% message_link_text = "Send Message to Employee" %>
<% else %>
  <% message_link_text = "Send Message to the Manager" %>
<% end %>
<h2>
  <%= link_to message_link_text, new_message_path %>
</h2>

<h2>Received Messages</h2>

<% rcvd_messages.each do |message| %>
  <%= link_to message.subject, message_path(message) %>
  <span><%= " - #{message.created_at.strftime("%m/%d/%Y, %l:%M %p")}" %></span>
  <% if message.unread? %>
    <span>NEW</span>
  <% end %>
  <br>
<% end %>

<h2>Sent Messages</h2>

<% sent_messages.each do |message| %>
  <%= link_to message.subject, message_path(message) %>
  <span><%= " - #{message.created_at.strftime("%m/%d/%Y, %l:%M %p")}" %></span>
  <br>
<% end %>
