<% provide(:title, "View Message") %>

<% message.read! if current_user == message.recipient %>

<h2>
  <%= message.subject %>
</h2>

<h3>
  From: <%= message.sender.full_name %>
</h3>

<h3>
  To: <%= message.recipient.full_name %>
</h3>

<h5>
  <%= message.content %>
</h5>

<% if current_user == message.recipient %>
  <h2>
    <%= link_to "Reply",
      new_message_path(recipient_id: message.sender_id) %>
  </h2>
<% end %>
