<% provide(:title, "Jobs") %>

<h2><%= company.title %> Jobs</h2>

<div class="outer_wrapper">
  <div class="btn-group">
    <%= link_to "New Job", new_job_path(company_id: params[:company_id]),
      class: "btn btn-success",
      id: "new_job_button", method: :get %>

    <% if params[:show_inactive] %>
      <%= link_to "Show Active Jobs",
        jobs_path(company_id: params[:company_id]),
        class: "btn btn-primary", id: "show_active_jobs_button",
        method: :get %>
    <% else %>
      <%= link_to "Show Archived Jobs",
        jobs_path(company_id: params[:company_id], show_inactive: true),
        class: "btn btn-warning", id: "show_inactive_jobs_button",
        method: :get %>
    <% end %>
  </div>
    <div class="css_table">
      <div class="css_tbody">
        <% jobs.each do |job| %>
          <div class="css_row">
            <%= render job %>
          </div>
          <hr>
        <% end %>
      </div>
    </div>
</div>
