<div class="css_cell">
  <strong><%= user.username %></strong>
</div>
<div class="css_cell">
  <%= user.full_name %>
</div>
<div class="css_cell">
  <%= profile_view_name(user.profileable_type) %>
</div>

<div class="css_cell">
  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
</div>

<div class="css_cell">
  <% if user.active? %>
    <% archive_button_text = "Archive User" %>
    <% archive_button_class = "btn btn-warning" %>
  <% else %>
    <% archive_button_text = "Reactivate User" %>
    <% archive_button_class = "btn btn-success" %>
  <% end %>
    <%= link_to(archive_button_text,
      change_user_active_status_path(user_id: user.id),
      data: { confirm: "Are you sure you want to change the status of" +
      " #{user.full_name}'s account?" },
      class: archive_button_class) unless user == current_user %>
</div>

<div class="css_cell">
  <div class="btn-group">
    <%= link_to("Edit User", edit_user_path(user), class: "btn btn-info") %>
  </div>
</div>

<% unless user.children? %>
  <div class="css_cell">
    <div class="btn-group">
      <%= link_to("Delete User", user_path(user),
        data: { confirm: "Are you sure you want to delete this user?" },
        method: :delete, class: "btn btn-danger") unless user == current_user %>
    </div>
  </div>
<% end %>
