<% jobs.each do |job| %>
  <% next if job.pay_periods.empty? %>
  <% latest_pp = latest_pay_period(job) %>
  <% next if latest_pp.pay_date < Time.zone.now.to_date %>
  <p>
    Next pay date for <%= job.title %> job at <%= job.company.title %>:
    <span class="important-text">
      <%= latest_pp.pay_date.strftime("%A, %b %d, %Y") %>
    </span>
  </p>
  <p class="instruction-text">
    Pay period beginning <%= latest_pp.start_date %> and ending
    <%= latest_pp.end_date %>.
  </p>
<% end %>
