<div class="css_cell">
  <%= humanized_money_with_symbol(timesheet.pay_period.job.pay) %>
</div>
<div class="css_cell">
  <%= timesheet.pay_period.job.pay_type %>
</div>
<div class="css_cell">
  <%= timesheet.clock_in.strftime("%b %e, %Y - %l:%M %p") %>
</div>
<div class="css_cell">
  <% if timesheet.clock_out %>
    <%= timesheet.clock_out.strftime("%b %e, %Y - %l:%M %p") %>
  <% else %>
    Not Clocked Out
  <% end %>
</div>
<div class="css_cell">
  <%= link_to edit_timesheet_path(timesheet) do %>
    <i class="glyphicon glyphicon-edit"></i>
  <% end %>
</div>
<div class="css_cell">
  <% hours_calc = ( ( (timesheet.clock_out || Time.zone.now) -
    timesheet.clock_in) / 3600 ).round(2) %>
  <% if timesheet.clock_out %>
    <%= hours_calc %>
  <% else %>
    <%= hours_calc %> (Currently)
  <% end %>
</div>
<% if timesheet.clock_out %>
  <div class="css_cell">
    <%= link_to "", approve_timesheet_path(timesheet_id: timesheet.id,
      css_id: status_id_maker(timesheet.id), format: :js),
      class: "btn btn-default status_button #{status_css_maker(timesheet)}",
      id: status_id_maker(timesheet.id), method: "get", remote: true %>
  </div>
<% else %>
  Not Clocked Out
<% end %>
