<% provide(:title, "Timesheets") %>

<h2>
  Timesheets -
  <%= Job.find(params[:job_id]).title %> -
  <%= EmployeeProfile.find(Job.find(params[:job_id]).employee_profile_id)
    .user.full_name %>
</h2>

<div class="outer_wrapper">
  <div class="btn-group">
    <%= link_to "New Timesheet",
      new_timesheet_path(job_id: params[:job_id]),
      class: "btn btn-success", id: "new_timesheet_button", method: :get %>
  </div>
    <div class="css_table">
      <div class="css_tbody">
        <% if pay_periods %>
          <% pay_periods.each do |pay_period| %>
            <%= link_to ("#{pay_period.start_date.strftime("%m/%d/%Y")} - " +
              pay_period.end_date.strftime("%m/%d/%Y")),
            timesheets_path(
              job_id: params[:job_id], pay_period_id: pay_period.id),
            class: "btn btn-default btn-primary" %>
          <% end %>
        <% else %>
          <div class="css_row">
            <div class="css_cell css_title_cell bg-info">
              Company
            </div>
            <div class="css_cell css_title_cell bg-info">
              Job
            </div>
            <div class="css_cell css_title_cell bg-info">
              Employee
            </div>
            <div class="css_cell css_title_cell bg-info">
              Clock in
            </div>
            <div class="css_cell css_title_cell bg-info">
              Clock out
            </div>
            <div class="css_cell css_title_cell bg-info">
              Edit
            </div>
            <div class="css_cell css_title_cell bg-info">
              Hours
            </div>
            <div class="css_cell css_title_cell bg-info">
              Approved?
            </div>
          </div>
          <% timesheets.each do |timesheet| %>
            <div class="css_row">
              <%= render timesheet %>
            </div>
            <hr>
          <% end %>
        <% end %>
      </div>
    </div>
</div>
