<% provide(:title, "Timesheets") %>

<div id="timesheets-header-container">
  <div class="page-header">
    <h2>
      <%= job.company.title %>
      <small>
        <%= job.title %>
        (<%= job.employee_profile.user.full_name %>)
      </small>
    </h2>
  </div>
</div>

<% if pay_period && pay_periods_query.count >= 2 %>
  <div id="next_previous_buttons">
    <div id="previous_button">
      <%= link_to timesheets_path(job_id: params[:job_id],
        pay_period_id: pay_periods_query.previous[:id]),
        class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        <%= pay_periods_query.previous[:start_date] %> -
        <%= pay_periods_query.previous[:end_date] %>
      <% end %>
    </div>

    <div id="next_button">
      <%= link_to timesheets_path(job_id: params[:job_id],
        pay_period_id: pay_periods_query.next[:id]),
        class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-arrow-right"></span>
        <%= pay_periods_query.next[:start_date] %> -
        <%= pay_periods_query.next[:end_date] %>
      <% end %>
    </div>
  </div>
<% end %>

<% if pay_period && current_user.is_an_admin? %>
  <div id="timesheets-notes-container">
    <div class="panel panel-primary" id="notes-panel">
      <div class="panel-heading">
        <h4 class="panel-title">Notes</h4>
      </div>
      <div class="panel-content">
        <h4 id="notes-content"><%= pay_period.notes if pay_period.notes %></h4>
        <button class="btn btn-default" id="edit-notes-toggler" type="button">
          Edit Notes
          <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true">
          </span>
        </button>
        <div id="pay-period-notes-form-wrapper">
          <%= render "pay_periods/pay_period_notes_form" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<div id="timesheets-pay-periods-container">
  <% if pay_periods %>
    <% panel_title_text = "Pay Periods" %>
    <div class="panel panel-primary" id="pay-periods-panel">
  <% else %>
    <% panel_title_text = "Timesheets (" +
      "#{pay_period.start_date.strftime("%m/%d/%Y")} -" +
      " #{pay_period.end_date.strftime("%m/%d/%Y")})" %>
    <div class="panel panel-primary inline-panel" id="timesheets-panel">
  <% end %>
    <div class="panel-heading">
      <h3 class="panel-title"><%= panel_title_text %></h3>
    </div>
    <% if current_user.is_an_admin? || !current_user_clocked_in? %>
      <div id="new-timesheet-button-container">
        <div class="btn-group">
          <%= link_to "New Timesheet",
            new_timesheet_path(job_id: params[:job_id]),
            class: "btn btn-success", id: "new_timesheet_button", method: :get %>
        </div>
      </div>
    <% end %>
    <div id="timesheets-pay-periods-table-container">
      <% if pay_periods %>
        <div class="css_table" id="pay-periods-table-main">
      <% else %>
        <div class="css_table">
      <% end %>
          <div class="css_tbody">
            <% if pay_periods %>
              <%= render "pay_periods_table" %>
            <% else %>
              <%= render "timesheets_table" %>
              <%= render "timesheets_total" %>
            <% end %>
          </div>
          <div class="center pagination_primary">
            <% if pay_periods %>
              <%= will_paginate pay_periods %>
            <% else %>
              <%= will_paginate timesheets %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>
