<% provide(:title, "Timesheets") %>

<h2>
  Timesheets -
  <%= job.title %> -
  <%= job.employee_profile.user.full_name %>
</h2>

<% if pay_period && current_user.is_an_admin? %>
  <div class="panel panel-primary" id="notes-panel">
    <div class="panel-heading">
      <h4 class="panel-title">Notes</h4>
    </div>
    <div class="panel-content">
      <h4 id="notes-content"><%= pay_period.notes if pay_period.notes %></h4>
      <button class="btn btn-default" id="edit-notes-toggler" type="button">
        Edit Notes
        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true">
        </span>
      </button>
      <div id="pay-period-notes-form-wrapper">
        <%= render "pay_periods/pay_period_notes_form" %>
      </div>
    </div>
  </div>
<% end %>

<div class="outer_wrapper">
  <% if current_user.is_an_admin? || !current_user_clocked_in? %>
    <div class="btn-group">
      <%= link_to "New Timesheet",
        new_timesheet_path(job_id: params[:job_id]),
        class: "btn btn-success", id: "new_timesheet_button", method: :get %>
    </div>
  <% end %>
  <div class="css_table">
    <div class="css_tbody">
      <% if pay_periods %>
        <% pay_periods.each do |pay_period| %>
          <%= link_to ("#{pay_period.start_date.strftime("%m/%d/%Y")} - " +
            pay_period.end_date.strftime("%m/%d/%Y")),
          timesheets_path(
            job_id: params[:job_id], pay_period_id: pay_period.id),
          class: "btn btn-default btn-primary" %>
        <% end %>
      <% else %>
        <%= render "timesheets_table" %>
        <%= render "timesheets_total" %>
      <% end %>
    </div>
  </div>
</div>

<div class="center pagination_primary">
  <% if pay_periods %>
    <%= will_paginate pay_periods %>
  <% else %>
    <%= will_paginate timesheets %>
  <% end %>
</div>
